<div class="main-page">
<button
    mat-raised-button
    (click)="backToMovies()"
    color="primary"
    style="margin-right: 10px;"
>
Back to Movies
</button>
<button
    mat-raised-button
    (click)="logout()"
    color="primary"
    style="margin-right: 10px;"
>
Logout
</button>
<mat-card>
    <mat-card-header>
    <mat-card-title>User Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field style="margin-right: 10px;">
                <label>Username</label>
                <input
                    matInput
                    [(ngModel)]="userData.username"
                    placeholder="Username"
                    type="text"
                    name="username"
                    required
                >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <label>Password</label>
                <input
                    matInput
                    [(ngModel)]="userData.password"
                    type = "password"
                    placeholder="Password"
                    name="password"
                    required
                >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <label>Email</label>
                <input
                    matInput
                    [(ngModel)]="userData.email"
                    type = "email"
                    placeholder="Email"
                    name="email"
                    required
                >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <label>Birthday</label>
                <input
                    matInput
                    [(ngModel)]="userData.birthday"
                    type = "date"
                    placeholder="Birthday"  
                    name="birthday"
                >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
        mat-raised-button
        (click)="updateUser()"
        color="primary"
        style="margin-right: 10px;"
        >
        Update User
        </button>
        <button
        mat-raised-button
        (click)="deleteUser()"
        color="primary"
        style="margin-right: 10px;"
        >
        Delete User
        </button>
    </mat-card-actions>
</mat-card>
</div>